@{ Layout = "~/Views/Shared/_InternalPageLayout.cshtml";
    ViewBag.Title = "Natalie Macellaio | Bump";
}

<section class="page-section" id="bump">
    <div class="container">
        <div class="row">
            <article class="col-md-12 showcase-single-content white-bg">
                <div class="row">
                    <article class="col-md-8 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <p class="font5"><span class="color-bg black ">bump</span></p>
                                <h2 class="black add-top-quarter"><span>bump</span></h2>
                                <h5 class="font3 black">2005</h5>
                                <h4 class="font5 dark">Bump</h4>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <h3 class="sub-heading">This is the Story</h3>
                                <p class="dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl diam, laoreet quis eros ac, placerat tincidunt neque. Vivamus molestie, nisl eu accumsan elementum, libero neque aliquam nibh, in venenatis velit velit eget nunc. Aliquam non venenatis justo, vitae feugiat urna. Morbi et tempor purus.</p>
                            </div>
                        </div>
                    </article>

                </div>

                <div class="row showcase-thumb-strip zoom">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Bump-4" title="Bump-4" class="img-responsive custom-overlay-6" src="images/bump/bump-01.jpg" />
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Bump-2" title="Bump-2" class="img-responsive custom-overlay-6" src="images/bump/bump-02.jpg" />
                    </article>
                </div>
                <div class="row showcase-thumb-strip zoom">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Bump-side" title="Bump-side" class="img-responsive custom-overlay-6" src="images/bump/bump-03.jpg" />
                     </article>              
        </div>
    </div>
</section>



