@{
    ViewBag.Title = "Natalie Macellaio | Kids Rings";
}

<section class="page-section" id="kidsrings">
    <div class="container">
        <div class="row">
            <article class="col-md-12 showcase-single-content white-bg">
                <div class="row">
                    <article class="col-md-8 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <p class="font5"><span class="color-bg black ">Playful Rings inspiried by Toddlers</span></p>
                                <h2 class="black add-top-quarter"><span>Kids Rings</span></h2>
                                <h5 class="font3 black">2014</h5>
                                <h4 class="font5 dark">Toddler Rings</h4>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <h3 class="sub-heading">This is the Story</h3>
                                <p class="dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl diam, laoreet quis eros ac, placerat tincidunt neque. Vivamus molestie, nisl eu accumsan elementum, libero neque aliquam nibh, in venenatis velit velit eget nunc. Aliquam non venenatis justo, vitae feugiat urna. Morbi et tempor purus.</p>
                            </div>
                        </div>
                    </article>

                </div>

                <div class="row showcase-thumb-strip zoom">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Fina's Ring" title="Fina's Ring" class="img-responsive custom-overlay-6 " src="images/kidsrings/kring-01.jpg" />
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Fina's Ring Detail" title="Fina's Ring Detail" class="img-responsive custom-overlay-6" src="images/kidsrings/kring-02.jpg" />
                    </article>
                </div>
                <div class="row showcase-thumb-strip zoom">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Milo's Ring" title="Milo's Ring" class="img-responsive custom-overlay-6" src="images/kidsrings/kring-03.jpg" />
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Milo's Ring Detail" title="Milo's Ring Detail" class="img-responsive custom-overlay-6" src="images/kidsrings/kring-04.jpg" />
                    </article>
                </div>
                <div class="row showcase-thumb-strip zoom">
                    <article class="col-md-12 col-md-push-1 zoom">
                        <img alt="Natalie Macellaio - Balloon Ring" title="Balloon Ring" class="img-responsive custom-overlay" src="images/kidsrings/kring-05.jpg" />

                    </article>
                </div>
            </article>
        </div>
    </div>
</section>



