@{  Layout = "~/Views/Shared/_InternalPageLayout.cshtml";
    ViewBag.Title = "Natalie Macellaio | The Merger";
}
 
<section class="page-section" id="merger">
    <div class="container">
        <div class="main-logo-wrap last-page">
        <a href="~/home"> <img alt="Natalie Macellaio - Metal Artist, logo" title="home page" src="~/images/bxslider/prev.png" /></a>
    </div>
        <div class="row">
            <article class="col-md-12 showcase-single-content white-bg">
                <div class="row">
                    <article class="col-md-8 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <p><span>a collaboration with Jeff Ross</span></p>
                                <h1 class="font1 color add-top-quarter"><span>The Merger</span></h1>
                                <h5 class="font2 black">2010</h5>
                                <h4 class="font1 color">500X GALLERY, DALLAS, TX</h4>
                            </div>
                        </div>                   
                    </article>
                    <article class="col-md-4 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <h3 class="sub-heading">About The Merger</h3>
                                <p class="dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl diam, laoreet quis eros ac, placerat tincidunt neque. Vivamus molestie, nisl eu accumsan elementum, libero neque aliquam nibh, in venenatis velit velit eget nunc. Aliquam non venenatis justo, vitae feugiat urna. Morbi et tempor purus.</p>
                            </div>
                        </div>
                    </article>
                 </div>
                    <div class="row">
                        <div class="single-project-slider-wrap">
                            <ul class="single-project-slider bxslider">
                                <li><img alt="The Merger 1" src="images/merger/merger-01.jpg" /></li>
                                <li><img alt="The Merger 1" src="images/merger/merger-01.jpg" /> </li>
                                <li><img alt="The Merger 1" src="images/merger/merger-01.jpg" /> </li>
                                <li><img alt="The Merger 1" src="images/merger/merger-01.jpg" /> </li>
                            </ul>
                        </div>
                    </div>
            </article>
        </div>
    </div>
</section>


