@{  Layout = "~/Views/Shared/_InternalPageLayout.cshtml";
    ViewBag.Title = "Natalie Macellaio | The Motherload Project";
}
 
<section class="page-section" id="motherload">
    <div class="sticky-panel sticky-panel-top white-bg">
        <div class="main-logo-wrap" style="z-index:200">
            <a href="~/Index"> <img alt="Natalie Macellaio - Metal Artist, logo" title="home page" src="~/images/bxslider/prev.png" /></a>
        </div>
    </div>
     <div class="container">
        <div class="row">

            <article class="col-md-12 showcase-single-content white-bg">
                <div class="row">
                    <article class="col-md-8 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">                                
                                <h2 class="black add-top-quarter"><span>The Mother Load Project</span> A network of professional artists, who are also mothers</h2>
                                <h5 class="font3 black"><a href="http://www.themotherload.org/" target="_blank">www.themotherload.org</a></h5>
                                <h4 class="font5 dark">Founded by artists and mothers Lesli Robertson and Natalie Macellaio</h4>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <h3 class="sub-heading">About The Motherload</h3>
                                <p class="dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl diam, laoreet quis eros ac, placerat tincidunt neque. Vivamus molestie, nisl eu accumsan elementum, libero neque aliquam nibh, in venenatis velit velit eget nunc. Aliquam non venenatis justo, vitae feugiat urna. Morbi et tempor purus.</p>
                            </div>
                        </div>
                    </article>

                </div>

                <div class="row">
                    <div class="single-project-slider-wrap">
                        <!-- single-project-slider : starts -->
                        <ul class="single-project-slider bxslider">
                            <li>
                                <img alt="DMA Exhibit - Motherload-01" title="" src="images/motherload/motherload-01.jpg" />
                            </li>
                            <li>
                                <img alt="DMA Exhibit - Motherload-02" title="" src="images/motherload/motherload-02.jpg" />

                            </li>
                            <li>
                                <img alt="DMA Exhibit - Motherload-03" title="" src="images/motherload/motherload-03.jpg" />

                            </li>
                            <li>
                                <img alt="DMA Exhibit - Motherload-04" title="" src="images/motherload/motherload-04.jpg" />

                            </li>
                            <li>
                                <img alt="DMA Exhibit - Motherload-05" title="" src="images/motherload/motherload-05.jpg" />

                            </li>
                        </ul>
                        <!-- single-project-slider : ends -->
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>


